<section class="menu">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="menu__bg">
                <form class="search">
                  <div class="search__group">
                    <input type="text" class="search__box" placeholder="Search">
                    <button type="submit" class="btn btn-default search__btn icon-search"></button>
                  </div>
                </form>

                <div class="food overfollow">
                  <div class="col-xs-2">
                    <div class="row">
                      <a href="#" class="btn-menu">
                        <div class="btn-menu__img">
                          <p class="btn-menu__text">Bakery</p>
                        </div>
                      </a>
                      <a href="#" class="btn-menu">
                        <div class="btn-menu__img">
                          <p class="btn-menu__text">Bakery</p>
                        </div>
                      </a>
                      <a href="#" class="btn-menu">
                        <div class="btn-menu__img">
                          <p class="btn-menu__text">Bakery</p>
                        </div>
                      </a>
                      <a href="#" class="btn-menu">
                        <div class="btn-menu__img">
                          <p class="btn-menu__text">Bakery</p>
                        </div>
                      </a>

                    </div>
                  </div>

                  <div class="col-xs-10">
                    <div class="menu__board overfollow">
                      <div class="col-xs-4" >
                        <div class="row">
                          <a href="#" class="food__name">
                            <img class="food__img" src="../../assets/slice/food.png" alt="">
                            <div class="food__board">
                              <p class="food__board--name">Cake</p>
                              <p class="food__board--price">20.000 d</p>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-xs-4" >
                        <div class="row">
                          <a class="food__name" data-toggle="modal" data-target="#detailFood">
                            <img class="food__img" src="../../assets/slice/food.png" alt="">
                            <div class="food__board">
                              <p class="food__board--name">Cake</p>
                              <p class="food__board--price">20.000 d</p>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-xs-4" >
                        <div class="row">
                          <a href="#" class="food__name">
                            <img class="food__img" src="../../assets/slice/food.png" alt="">
                            <div class="food__board">
                              <p class="food__board--name">Cake</p>
                              <p class="food__board--price">20.000 d</p>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
          <div class="ordering">
            <div class="ordering__box">
              <div class="ordering__box--inner">
                <h2 class="ordering__title">Ordering</h2>
                <div class="ordering__food">
                  <div class="ordering__food--text ordered__food flex-box">
                    <p class="ordered__food--order">1</p>
                    <p class="ordered__food--name">Noodle</p>
                    <p class="ordered__food--quantity">2</p>
                    <p class="ordered__food--price">90.000 d</p>
                  </div>
                  <div class="ordering__food--text ordered__food flex-box">
                    <p class="ordered__food--order">1</p>
                    <p class="ordered__food--name">Noodle</p>
                    <p class="ordered__food--quantity">2</p>
                    <p class="ordered__food--price">90.000 d</p>
                  </div>
                </div>
                <div class="ordering__total overfollow">
                  <p class="ordering__total--text">Total
                    <span class="ordering__total--money">180.000 d</span>
                  </p>
                </div>
                <div class="ordering__btn">
                  <a href="#" class="ordering__btn--order btn--suggest">Order</a>
                  <a href="#" class="ordering__btn--cancel btn--normal">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<!--modal show choose a food-->
<div class="modal fade" id="detailFood" tabindex="-1" role="dialog" aria-labelledby="detailFoodLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>

</div>
