* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-family: 'Carter One', cursive;
  font-size: $font-base;
}

body {
  margin: 0 auto;
}
.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clearfix {
  clear: both;
}

.overfollow {
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}


@media only screen and (min-width: 1200px) {
  .container {
    width: 1037px;
  }
}
