.btn--normal {
  color: #9a847c;
  background: #eae3d5;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 3px;
}

.btn--suggest {
  @extend .btn--normal;
  background: $cl-btn-suggest-choose;
  color: $cl-white;
}
