@font-face {
  font-family: 'icomoon';
  src:  url('/src/app/helper/icomoon/icomoon.eot?6xfivd');
  src:  url('/src/app/helper/icomoon/icomoon.eot?6xfivd#iefix') format('embedded-opentype'),
    url('/src/app/helper/icomoon/icomoon.ttf?6xfivd') format('truetype'),
    url('/src/app/helper/icomoon/icomoon.woff?6xfivd') format('woff'),
    url('/src/app/helper/icomoon/icomoon.svg?6xfivd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-down:before {
  content: "\ea36";
}

%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%position-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX( -50%);
}

%position-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY( -50%);
}
