$font-base: 14px;


// naming for color

// define name color
$cl-xxx: #EA6D24;
$cl-white : #fff;
$cl-waiter: #202C39;
$cl-gray: #ccc;

// define color for page
$cl-header: $cl-xxx;
$cl-dark: #a02e0a;
$cl-bg-ordering: #FFF6EF;
$cl-btn-menu-active: #009444;
$cl-btn-menu: #31B456;
$cl-bg-price: #604A83;
$cl-bg-menu: #FFFBCE;
$cl-btn-suggest-choose: #EF9B4C;
$cl-btn-cancel: #F4DEB3;
$cl-btn-menu-shadow: #d1fbe4;
$cl-btn-search: #fff0ce;
