@import "helper/all";
.header {
  background: $cl-header;
  &__bg {
    background: url("../assets/slice/header-top-line.png") repeat-x;
    &--bottom {
      height: 4px;
    }
    &--img {
      background: url("../assets/slice/header-support.png") no-repeat;
      height: 120px;
    }
  }
  &__logo {
    color: $cl-white;
    &--text {
      display: inline-flex;
      align-items: center;
      padding-left: 10px;
    }
  }
  &__logo-group {
    float: left;
  }
  &__btn-group {
    float: right;
    margin-top: 20px;
    position: relative;
  }
  &__btn-login {
    @include retangle(100px, 45px);
    @extend %position-center;
    left: -80%;
    color: $cl-white;
    outline: none;
    border: none;
    background: $cl-dark;
    border-radius: 3px;

  }
  &__btn-waiter {
    background:$cl-waiter;
    @include circle(80px);
    border: none;
    color: $cl-white;
    font-size: 12px;
    &:hover {
      background:$cl-waiter;
    }
    &--icon {
      font-size: 30px;
    }
  }
}

.login {
  &__header {
    color: $cl-white;
    background: $cl-header;
  }
  &__title {
    text-align: center;
    margin: 0;
    flex: 12;
  }
  &__close {
    outline: none;
    flex: 1;
    background: none;
    border: 0;
  }
}

.btn-social {
  &__fb,
  &__gg {
    padding: 10px;
    margin-bottom: 10px;
  }
}

.footer {
  background: #EA6D24;
  text-align: center;
  &-group {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    .icon-middle {
      margin: 0 150px;
    }
    .icon-outer,
    .icon-middle {
      font-size: 22px;
      color: $cl-white;
    }
  }
}
