<section class="user">
  <div class="container">
    <div class="row">
      <div class="user__wrap overfollow">
        <div class="col-xs-2">
          <div class="row">
            <div class="user__menu">
              <a routerLink="/user/profile" class="menu__profile">Profile</a>
              <a href="#" class="menu__history">History</a>
              <a href="#" class="menu__favorite">Profile</a>
            </div>
          </div>
        </div>

        <div class="col-xs-10">
          <div class="row">
            <div class="user__show overfollow">

              <router-outlet></router-outlet>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
